@import "tailwindcss";

/* @theme {
  --color-mint-500: oklch(0.72 0.11 178);
} */

@theme {
  /* Main Brand Color */
  --color-primary: #312e81; 
  --color-primary-foreground: #ffffff;

  /* Secondary Brand Color */
  --color-secondary: #34d399;
  --color-secondary-light: #d1fae5;

  /* Action/Alert Color */
  --color-warning: #f97316;
  --color-warning-light: #ffedd5;

  /* Highlight/Decorative */
  --color-highlight: #fef08a;

  /* Fonts */
  --font-body: Lato, sans-serif;
}

#root {
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

body {
  background-image: url('./assets/paper-texture.png');
  /* background-repeat: repeat; */
  background-repeat: no-repeat;
  
  /* 2. Stretch it to cover the whole visible screen */
  background-size: cover; 
  
  /* 3. LOCK IT. The content scrolls, the paper stays still. */
  background-attachment: fixed; 
  
  background-position: center;

}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.lato-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.lato-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}

